---
# enable all checks except the named ones (they are subtracted):
Checks: '*,-android-*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-llvm-*,-llvmlibc-*,-objc-*,-modernize-use-trailing-return-type'

# no warning as errors
WarningsAsErrors: ''

HeaderFilterRegex: ''
FormatStyle:     none
